<div class="comp-box">
    <h1 class="comp-title">ADD YOUR DATA</h1>
    <div class="comp-main">
        <form id="addForm" #addUser="ngForm" (ngSubmit)="sendData(addUser.value)">
            <div class="addForm-inputs">
                <label for="name">Enter Full Name: </label>
                <input type="text" name="name" placeholder="Enter Name" ngModel>
            </div>

            <div class="addForm-inputs">
                <label for="email">Enter Your Email: </label>
                <input type="text" name="email" placeholder="Enter Email" ngModel>
            </div>

            <button class="form-btn">ADD</button>
        </form>
    </div>
</div>