#addForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.addForm-inputs {
  margin: 20px 0;
  padding: 10px;
}
.addForm-label {
  font-size: medium;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.addForm-inputs > input {
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}
