/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.comp-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.comp-title {
  height: 10%;
  width: 100%;
  text-align: center;
}
.comp-main {
  height: 75%;
  width: 100%;
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Form-inputs {
  margin: 20px 0;
  padding: 10px;
}
.Form-inputs > label {
  font-size: medium;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Form-inputs > input {
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

.form-btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: rgb(122, 226, 122);
  color: antiquewhite;
  font-size: medium;
  font-weight: 400;
  width: 150px;
}
.form-btn:hover {
  font-weight: bold;
  background-color: rgb(109, 209, 109);
}

@media screen and (max-width: 575px) {
  .comp-box {
    height: auto;
  }
}
